# My Jupyter Notebook on IBM Watson Studio

This is an introduction

List of languages:
* Python
* SQL
* R
* etc.

List of libraries: 
* NumPy
* SciPy 
* Pandas
* Matplotlib

| Python  | Jupyter  | Excel |
| --- | --- | --- |
| Spark | SPSS | Matplotlib |

\begin{gather*}
a^2=b^2+c^2\\
\end{gather*}

In [8]:
(1*10)+1

11

#

In [5]:
hours = 0

#input time in minutes, here we will use the value 100
time = 100
 

hours = time / 60


print( str(hours) + " hours")

1.6666666666666667 hours

Objectives:
* Learn tools for data science
* Overview about python, SQL, etc

Author: Tawfeek Alkanbar